mixin box(className, h4Content, pContent)
  .box(class=className)
    h4
     a(href="#" class="link-unstyled")= h4Content 
    p= pContent

mixin small-box(className,imgSrc,h1Content,spanContent,Pcontent)
  div(class=className)
    img(src=imgSrc)
    .info 
      h1=h1Content 
      span.second-h1
       a(href="#" class="link-unstyled")=spanContent
      p=Pcontent